<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Backend</title>
</head>
<body>
    <div>
        <h1>Backend no Ar!</h1>
        <p>O Serviço faz parte do Projeto de Conclusão de Curso da Universidade Federal Fluminense do Polo de Rio das Ostras.<br/>O projeto viza fornecer um questionario 
            a respeito das preferencias do usuario e com base nelas, recomenda uma lista de ate 10 cidades para se viver.<br/>
            O projeto foi implementado principalmente usando o framework Flask para o backend e MySQL como ferramenta para o Banco de Dados.
        </p>
        <h3>Endpoints disponiveis</h3>
        <ul>
            <li><strong>Ver as questões</strong>: <a href="http://127.0.0.1:5000/info-api/questions">/info-api/questions</a></li>
            <li><strong>Ver as cidades (Dados Gerais)</strong>:<a href="http://127.0.0.1:5000/info-api/cities">/info-api/cities</a></li>
            <li><strong>Ver as cidades de determinado Estado (Dados Gerais)</strong>: <a href="http://127.0.0.1:5000/info-api/state/[uf]">/info-api/state/[uf]</a></li>
            <li><strong>Ver informações mais detalhadas da cidade</strong>: <a href="http://127.0.0.1:5000/info-api/city/info/[cityId]">/info-api/city/info/[cityId]</a></li>
            <li><strong>Gera a recomendação de cidades -> necessario enviar um objeto na requisição</strong>: <a href="http://127.0.0.1:5000/info-api/city/recomendation">/info-api/city/recomendation</a></li>
        </ul>
    </div>
</body>
</html>